<script type="text/x-handlebars" data-template-name="application">
  {{view App.NavView controllerBinding="controller.controllers.navController"}}
  <div id="content" class="cf">
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="nav">
  <div id="nav">
    <ul class="horizontal">
      <li><%= link_to "DEVELOPMENT", "#dev" %></a></li>
      <li><%= link_to "MUSIC", "#music" %></a></li>
      <li><%= link_to "SANDBOX", "#sandbox" %></a></li>
      <li><%= link_to "ABOUT", "#about"%></a></li>
      <li class="divider"><%= link_to "CONTACT", "#contact"%></a></li>
      <li><%= link_to "BLOG", "http://blog.chrislyons.net", :target => "_blank" %></a></li>
      <li><%= link_to "GITHUB", "http://www.github.com/choochburger", :target => "_blank" %></a></li>
    </ul>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="tiles">
  {{#each tiles}}
    <a class="fancybox" href="{{url asset_url}}" rel="group">
      <div class="tile" style="{{createBgUrl thumbnail_url}}">
        <div class="description">
          {{description}}
        </div>
      </div>
    </a>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="about">
  <div class="about">
    <div class="blurb">
      <div class="me"></div>
      <p class="description cf">I'm a front-end developer and musician living in Chiang Mai, Thailand. If you have a project you'd like to discuss, please <%= link_to "get in touch", "#contact" %>.</p>
    </div>
    <h3>A big, boring list of technologies that I work with <strong>a lot</strong>:</h3>
    <ul>
      <li>Javascript/Coffeescript</li>
      <li>HTML5</li>
      <li>CSS3/SCSS</li>
      <li>Actionscript 2/3, MXML, Flash Pro, Flash Builder, Eclipse, etc</li>
      <li>iOS, Objective-C, XCode, Phonegap</li>
      <li>Vim</li>
    </ul>
    <hr/>
    <h3>A smaller, but just as boring, list of techologies that I work with on occasion:</h3>
    <ul>
      <li>Ruby on Rails (this site)</li>
      <li>PHP</li>
    </ul>
    <hr/>
    <h3>Libraries and Frameworks that I enjoy using:</h3>
    <ul>
      <li>Backbone</li>
      <li>Ember (this site)</li> 
      <li>Handlebars (this site)</li>
      <li>jQuery (this site)</li>
      <li>jQuery UI</li>
      <li>Underscore</li>
      <li>XUI</li> 
      <li>Phonegap/Cordova</li>
      <li>Smarty</li> 
    </ul>
    <hr/>
    <h3>Past Clients:</h3>
    <ul>
      <li>Berklee College of Music/Berkleemusic.com</li>
      <li>Merrill Lynch</li>
      <li>ABC/Disney</li>
      <li>ImpulseSave</li>
      <li>Lost Jockey Productions</li>
      <li>Lenz Entertainment</li>
    </ul>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="sandbox">
  <p>I hope to include experiments and other stuff here. Stay tuned.</p>
</script>

<script type="text/x-handlebars" data-template-name="contact">
  <div class="contact">
    <h2>Email: chris [at] chrislyons.net</h2>
    <h2>Twitter: <%= link_to "@choochburger", "http://www.twitter.com/#!/choochburger", :target => "_blank" %></h2>
  </div>
</script>
