<!DOCTYPE html>
<html>
<head>
  <title>chrislyons.net</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main" class="cf">
    <div id="header" class="cf">
      <div class="logo">
        <h1>chrislyons.net</h1>
      </div>
    </div> <!-- end header -->

    <div id="nav">
      <ul class="horizontal">
        <li><%= link_to "development", "#dev" %></a></li>
        <li><%= link_to "music", "#music" %></a></li>
        <li><%= link_to "sandbox", "#sandbox" %></a></li>
        <li><%= link_to "github", "http://www.github.com/choochburger", :target => "_blank" %></a></li>
        <li><%= link_to "contact me", "#contact"%></a></li>
      </ul>
    </div>

    <%= yield %>

  </div>

  <!-- bootstrapped data -->
  <script type="text/javascript">
    var cldn = cldn || {};
    cldn = {
      data: {
        music: <%= @music_json %>,
        web: <%= @web_json %>
      }
    };
  </script>

  <script type="text/x-handlebars" data-template-name="tiles">
    {{#each tiles}}
      <div class="tile" style="{{createBgUrl thumbnail_url}}">
        <div class="description">
          {{description}}
        </div>
      </div>
    {{/each}}
  </script>

</body>
</html>
