<!DOCTYPE html>
<html>
<head>
  <title>chrislyons.net</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.5.2.min.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

 <div class="header">
  <ul class="collapsedList">
    <li>Web</li>
    <li>Music</li>
    <li>Contact: chris [at] chrislyons.net</li>
    <li>Twitter: <%= link_to "@choochburger", "http://www.twitter.com/choochburger", {:target => "_blank"} %></li>
  </ul>
 </div>

  <%= yield %>

</body>
</html>
