<!DOCTYPE html>
<html>
<head>
  <title>chrislyons.net</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <div id="header" class="cf">
      <div class="logo">
        <h1>chrislyons.net</h1>
      </div>
      <div class="contact">
        <ul>
          <li>chris[at]chrislyons.net</li>
          <li><%= link_to "@choochburger", "http://www.twitter.com/#!/choochburger", :target => "_blank" %></li>
        </ul>
      </div>
    </div> <!-- end header -->

    <div id="nav">
      <ul class="horizontal">
        <li><%= link_to "Development", "#dev" %></a></li>
        <li><%= link_to "Music", "#music" %></a></li>
        <li><%= link_to "Sandbox", "#sandbox" %></a></li>
        <li><%= link_to "Github", "http://www.github.com/choochburger", :target => "_blank" %></a></li>
      </ul>
    </div>

    <%= yield %>

  </div>
</body>
</html>
